@media(max-width: 610px){
    /* Header */
    .header .name{
        margin-left: 2rem;
    }

    .header nav ul{
        width: 16rem;
        padding: 1.4rem 1rem;
    }

    /* CONTAINER */
    .container{
        padding: 3rem 1rem;
        margin: 1rem 0 5rem 0;

        display: grid;
        grid: "about about"
            "skills skills"
            "studies studies"
            "projects projects";

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .title-name{
        font-size: 3.4rem;    
        margin-bottom: 4.8rem;
    }

    /* ABOUT */
    .container .about{
        margin-bottom: 2rem;
    }

    .container .about .me{
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        padding: 0 5rem; 
    }

    .container .about .me img{
        width: 28rem;
        height: 28rem;
        margin-bottom: 2.5rem;
    }

    .container .about .me .about-me .my-name{
        font-size: 3.1rem;
    }

    .container .about .me .about-me p{
        font-size: 2.4rem;
    }

    /* skill-studies */
    .container .skill-studies{
        display: flex;
        flex-direction: column;
    }

    /* skill */
    .container .skill-studies .skills{
        width: 90%;
    }

    .container .skills .soft-skills ul li{
        font-size: 2.2rem;
        line-height: 3rem;
    }

    /* Studies */
    .container .skill-studies .studies{
        width: 90%;
    }

    .container .studies .text .title-studies{
        font-size: 2.1rem;
    }

    .container .studies .college .text ul li,
    .container .studies .course .text ul li{
        font-size: 1.7rem;
    }

    /* Projects */
    .container .projects .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .projects .project-1,
    .container .projects .project-2,
    .container .projects .project-3{
        width: 84%;
    }

    /* FOOTER */
    .footer .menu .menu-footer li a{
        font-size: 2rem;
    }

    .footer .contacts{
        gap: 1rem;
    }

    .footer .contacts .contact ul li{
        font-size: 1.8rem;
    }

    .footer .contacts .nets li a i{
        font-size: 2.4rem;
    }

    .footer .contacts .nets li:not(:nth-child(1)){
        margin-left: 1rem;
    }
}

@media(max-width: 500px){
    /* FOOTER */
    .footer .menu .menu-footer{
        flex-wrap: wrap;

        padding: 1.2rem;
    }

    .footer .menu .menu-footer li{
        margin-bottom: 1.2rem;
    }
}

@media(max-width: 450px){
    /* FOOTER */
    .footer .menu .menu-footer{
        padding: 1.2rem;
    }

    .footer .menu .menu-footer li{
        margin-bottom: 1.2rem;
    }

    .footer .menu .menu-footer li a{
        font-size: 2rem;
    
        padding: 0.8rem 1rem;
    }

    .footer .contacts{
        display: grid;
        grid: "contacts nets";
        gap: 2rem;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media(max-width: 376px){
    /* FOOTER */
    .footer .menu .menu-footer{
        padding: 1rem;
    }

    .footer .menu .menu-footer li{
        margin-bottom: 1rem;
    }

    .footer .menu .menu-footer li a{
        font-size: 1.8rem;
        color: var(--high-color-footer);
    
        padding: 0.6rem 1rem;
    }
}