:root{
    --header-color: ;
    --container-color: ;
    --footer-color: ;

    --heading-1-color: ;
    --heading-2-color: ;
    --heading-3-color: ;
    --heading-4-color: ;
    --paragraph-color: ;

    --link-color: ;
    --link-shadow-color: ;
}