:root{
    --light-container-color: rgb(131, 51, 175);
    --background-color: rgb(33, 23, 60);
    
    --high-color: rgb(98, 199, 193);
    --high-color-1: rgb(115, 255, 143);
    --high-color-footer: rgb(40, 207, 40);
    --high-color-projects: rgb(32, 199, 32);
    
    --text-color: rgb(217, 211, 215);
    --span-border-color: rgb(255, 196, 0);

    --html-icon-color: rgb(235, 179, 39);
    --css-icon-color: rgb(88, 182, 219);
}